{#
/**
 * @file contextual_report_entity.html.twig
 * Default theme implementation to present Contextual Report Entity data.
 *
 * This template is used when viewing Contextual Report Entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_contextual_report_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('contextual_report_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
